In [76]:
import pandas as pd

In [77]:
df = pd.read_csv('Data/Pilot+Group+5_February+28%2C+2024_12.51.csv')

In [78]:
df.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q12.1,Q13.1,Q14.1,Q15.1,Q1.1,Q2.2,Q3.2,Q5.2,Q4.1,SC0
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,"Between 1 and 90, how many integers n, when ra...",A three-digit number is such that the sum of t...,Two sets of 4 consecutive positive integers ha...,N and P are integers greater than 1. 5n is the...,What is your year in college?,What is your major?,What is your gender?,Do you prefer to be graded on an absolute scal...,Please enter your email address so we can send...,Score
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID39""}","{""ImportId"":""QID40""}","{""ImportId"":""QID41""}","{""ImportId"":""QID42""}","{""ImportId"":""QID13""}","{""ImportId"":""QID12_TEXT""}","{""ImportId"":""QID18""}","{""ImportId"":""QID26""}","{""ImportId"":""QID15_TEXT""}","{""ImportId"":""SC_dngT4ZC60YB1s8K""}"
2,2024-02-26 10:16:12,2024-02-26 10:18:18,IP Address,69.196.32.230,100,126,True,2024-02-26 10:18:19,R_7kFz0cSedaI5w1Y,NaN,...,NaN,NaN,NaN,NaN,Junior,business econ,Female,Relative scale,dkarandinos@ucsd.edu,1
3,2024-02-26 10:17:05,2024-02-26 10:18:30,IP Address,128.54.35.218,100,85,True,2024-02-26 10:18:30,R_5HC7oI7UEG7FrIa,NaN,...,NaN,NaN,NaN,NaN,Junior,BUS ECON,Male,Relative scale,shw138@ucsd.edu,2
4,2024-02-26 10:14:38,2024-02-26 10:19:52,IP Address,69.196.45.69,100,313,True,2024-02-26 10:19:53,R_1e38qMEicLRcDQt,NaN,...,12,891,4,14,Senior,business econ and international business,Male,Relative scale,rywu@ucsd.edu,4

In [79]:
df.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Intro', 'Q1', 'Q2', 'Q3', 'Q4 ',
       'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15',
       'Intro.1', 'Q1 ', 'Q2.1', 'Q3.1', 'Q4', 'Q5.1', 'Q6.1', 'Q7.1', 'Q8.1',
       'Q9.1', 'Q10.1', 'Q11.1', 'Q12.1', 'Q13.1', 'Q14.1', 'Q15.1', 'Q1.1',
       'Q2.2', 'Q3.2', 'Q5.2', 'Q4.1', 'SC0'],
      dtype='object')

In [90]:
# Selecting specific columns to create a new DataFrame
columns_to_keep = ['Duration (in seconds)', 'Finished', 'Intro','Q1','Intro.1', 'Q2.1','Q1.1', 'Q2.2', 'Q3.2', 'Q5.2', 'Q4.1', 'SC0']

# Creating the new DataFrame with just the desired columns
df_filtered = df[columns_to_keep]
df_filtered.head(10)

,Duration (in seconds),Finished,Intro,Q1,Intro.1,Q2.1,Q1.1,Q2.2,Q3.2,Q5.2,Q4.1,SC0
0,Duration (in seconds),Finished,"In this survey, you will be given 15 GRE Math ...",xy>0 where Quantity A = (x^2)(y^4) and Quantit...,"In this survey, you will be given 15 GRE Math ...","Working independently, Machine A can complete ...",What is your year in college?,What is your major?,What is your gender?,Do you prefer to be graded on an absolute scal...,Please enter your email address so we can send...,Score
1,"{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""QID25_TEXT""}","{""ImportId"":""QID3""}","{""ImportId"":""QID27_TEXT""}","{""ImportId"":""QID29""}","{""ImportId"":""QID13""}","{""ImportId"":""QID12_TEXT""}","{""ImportId"":""QID18""}","{""ImportId"":""QID26""}","{""ImportId"":""QID15_TEXT""}","{""ImportId"":""SC_dngT4ZC60YB1s8K""}"
2,126,True,dkarandinos@ucsd.edu,The relationship cannot be determined from the...,NaN,NaN,Junior,business econ,Female,Relative scale,dkarandinos@ucsd.edu,1
3,85,True,NaN,The relationship cannot be determined from the...,NaN,NaN,Junior,BUS ECON,Male,Relative scale,shw138@ucsd.edu,2
4,313,True,NaN,NaN,NaN,The relationship cannot be determined from the...,Senior,business econ and international business,Male,Relative scale,rywu@ucsd.edu,4
5,469,True,yuw112@ucsd.edu,Quantity B is greater,NaN,NaN,Junior,Economics,Male,Absolute scale,yuw112@ucsd.edu,7
6,97,True,NaN,NaN,glozanop@ucsd.edu,Quantity B is greater,Senior,Business Economics,Male,Absolute scale,glozanop@ucsd.edu,3
7,486,True,cic005@ucsd.edu,The relationship cannot be determined from the...,NaN,NaN,Sophomore,Business economics,Female,Relative scale,cic005@ucsd.edu,6
8,189,True,NaN,NaN,yux038@ucsd.edu,The relationship cannot be determined from the...,Senior,Business Economics,Male,Relative scale,yux038@ucsd.edu,2
9,411,True,NaN,NaN,kdelgadillo@ucsd.edu,Both quantities are equal,Junior,Business Economics,Male,Relative scale,kdelgadillo@ucsd.edu,4

In [93]:
df_filtered = df_filtered.rename(columns={
    'Intro': 'Relative',
    'Q1': 'Relative Test',
    'Intro.1': 'Absolute',
    'Q2.1': 'Absolute Test',
    'Q1.1': 'Year',
    'Q2.2': 'Major',
    'Q3.2': 'Gender',
    'Q5.2': 'Preferred Scale',
    'Q4.1': 'Email',
    'SC0': 'Score'
})

df_filtered = df_filtered.iloc[2:]

df_filtered = df_filtered.reset_index(drop=True)
df_filtered.head()

,Duration (in seconds),Finished,Relative,Relative Test,Absolute,Absolute Test,Year,Major,Gender,Preferred Scale,Email,Score
0,313,True,NaN,NaN,NaN,The relationship cannot be determined from the...,Senior,business econ and international business,Male,Relative scale,rywu@ucsd.edu,4
1,469,True,yuw112@ucsd.edu,Quantity B is greater,NaN,NaN,Junior,Economics,Male,Absolute scale,yuw112@ucsd.edu,7
2,97,True,NaN,NaN,glozanop@ucsd.edu,Quantity B is greater,Senior,Business Economics,Male,Absolute scale,glozanop@ucsd.edu,3
3,486,True,cic005@ucsd.edu,The relationship cannot be determined from the...,NaN,NaN,Sophomore,Business economics,Female,Relative scale,cic005@ucsd.edu,6
4,189,True,NaN,NaN,yux038@ucsd.edu,The relationship cannot be determined from the...,Senior,Business Economics,Male,Relative scale,yux038@ucsd.edu,2

In [94]:
# Converting 'Duration (in seconds)' to minutes
df_filtered['Duration (in minutes)'] = df_filtered['Duration (in seconds)'].astype(float) / 60
# Dropping the 'Duration (in seconds)' column
df_filtered.drop(columns=['Duration (in seconds)'], inplace=True)

In [99]:

# Reordering columns
columns = ['Duration (in minutes)', 'Finished'] + [col for col in df_filtered.columns if col not in ['Duration (in minutes)', 'Finished']]
df_filtered = df_filtered[columns]
df_filtered.head()

,Duration (in minutes),Finished,Relative,Relative Test,Absolute,Absolute Test,Year,Major,Gender,Preferred Scale,Email,Score
0,5.216667,True,NaN,NaN,NaN,The relationship cannot be determined from the...,Senior,business econ and international business,Male,Relative scale,rywu@ucsd.edu,4
1,7.816667,True,yuw112@ucsd.edu,Quantity B is greater,NaN,NaN,Junior,Economics,Male,Absolute scale,yuw112@ucsd.edu,7
2,1.616667,True,NaN,NaN,glozanop@ucsd.edu,Quantity B is greater,Senior,Business Economics,Male,Absolute scale,glozanop@ucsd.edu,3
3,8.100000,True,cic005@ucsd.edu,The relationship cannot be determined from the...,NaN,NaN,Sophomore,Business economics,Female,Relative scale,cic005@ucsd.edu,6
4,3.150000,True,NaN,NaN,yux038@ucsd.edu,The relationship cannot be determined from the...,Senior,Business Economics,Male,Relative scale,yux038@ucsd.edu,2

In [118]:
if 47 in df_filtered.index:
    df_filtered = df_filtered.drop(index=47)


df_filtered.head()

,Duration (in minutes),Finished,Relative,Relative Test,Absolute,Absolute Test,Year,Major,Gender,Preferred Scale,Email,Score
0,5.216667,True,NaN,NaN,NaN,The relationship cannot be determined from the...,Senior,business econ and international business,Male,Relative scale,rywu@ucsd.edu,4.0
1,7.816667,True,yuw112@ucsd.edu,Quantity B is greater,NaN,NaN,Junior,Economics,Male,Absolute scale,yuw112@ucsd.edu,7.0
2,1.616667,True,NaN,NaN,glozanop@ucsd.edu,Quantity B is greater,Senior,Business Economics,Male,Absolute scale,glozanop@ucsd.edu,3.0
3,8.100000,True,cic005@ucsd.edu,The relationship cannot be determined from the...,NaN,NaN,Sophomore,Business economics,Female,Relative scale,cic005@ucsd.edu,6.0
4,3.150000,True,NaN,NaN,yux038@ucsd.edu,The relationship cannot be determined from the...,Senior,Business Economics,Male,Relative scale,yux038@ucsd.edu,2.0

## Total Tests Taken

In [97]:
relative_test_count = df_filtered['Relative Test'].notna().sum()
absolute_test_count = df_filtered['Absolute Test'].notna().sum()

relative_test_count, absolute_test_count

(25, 31)

## Average Score per Test

In [104]:
df_filtered['Score'] = pd.to_numeric(df_filtered['Score'], errors='coerce')

relative_test_avg_score = df_filtered[df_filtered['Relative Test'].notna()]['Score'].mean()
absolute_test_avg_score = round(df_filtered[df_filtered['Absolute Test'].notna()]['Score'].mean(), 2)

print(f"The average score for the 'Relative Test' is {relative_test_avg_score}.")
print(f"The average score for the 'Absolute Test' is {absolute_test_avg_score}.")

The average score for the 'Relative Test' is 5.08.
The average score for the 'Absolute Test' is 5.63.

## Average Score per Gender

In [105]:
male_avg_score = df_filtered[df_filtered['Gender'] == 'Male']['Score'].mean()
female_avg_score = df_filtered[df_filtered['Gender'] == 'Female']['Score'].mean()

print(f"The average score for males is {male_avg_score}.")
print(f"The average score for females is {female_avg_score}.")

The average score for males is 5.366666666666666.
The average score for females is 5.681818181818182.

## Average Score per Grade

In [119]:
freshman_avg_score = df_filtered[df_filtered['Year'] == 'Freshman']['Score'].mean()
sophomore_avg_score = df_filtered[df_filtered['Year'] == 'Sophomore']['Score'].mean()
junior_avg_score = df_filtered[df_filtered['Year'] == 'Junior']['Score'].mean()
senior_avg_score = df_filtered[df_filtered['Year'] == 'Senior']['Score'].mean()
phd_avg_score = df_filtered[df_filtered['Year'] == 'PhD']['Score'].mean()

print(f"The average score for Freshmen is {freshman_avg_score}.")
print(f"The average score for Sophomores is {sophomore_avg_score}.")
print(f"The average score for Juniors is {junior_avg_score}.")
print(f"The average score for Seniors is {senior_avg_score}.")
print(f"The average score for PhD is {phd_avg_score}.")

The average score for Freshmen is nan.
The average score for Sophomores is 6.0.
The average score for Juniors is 5.758620689655173.
The average score for Seniors is 5.130434782608695.
The average score for PhD is 3.0.

## Average Score per Preference

In [107]:
relative_scale_avg_score = df_filtered[df_filtered['Preferred Scale'] == 'Relative scale']['Score'].mean()
absolute_scale_avg_score = df_filtered[df_filtered['Preferred Scale'] == 'Absolute scale']['Score'].mean()

print(f"The average score for those who prefer the Relative scale is {relative_scale_avg_score}.")
print(f"The average score for those who prefer the Absolute scale is {absolute_scale_avg_score}.")

The average score for those who prefer the Relative scale is 5.05.
The average score for those who prefer the Absolute scale is 6.266666666666667.

## Percent of Preferences

In [108]:
preferred_scale_counts = df_filtered['Preferred Scale'].value_counts(normalize=True) * 100

for scale, percentage in preferred_scale_counts.items():
    print(f"{percentage:.2f}% of people prefer the {scale}.")

73.21% of people prefer the Relative scale.
26.79% of people prefer the Absolute scale.

## Average Duration Time

In [110]:
average_duration = df_filtered['Duration (in minutes)'].mean()

print(f"The average duration time is {average_duration:.2f} minutes.")

The average duration time is 10.19 minutes.